.vs/BeSpoked/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/BeSpoked/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/BeSpoked/FileContentIndex/00b0d270-88db-4c21-8f59-dbede043d7cf.vsidx
/node_modules
/.vscode
/.vs
/API/bin