<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Manage Products</b></h4>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary" >
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Product Name</th>
              <th>Manufacturer</th>
              <th>Style</th>
              <th>On Hand</th>
              <th>Sales Price</th>
              <th>Discount</th>
              <th>Active</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productService.products()" class="center-align">
              <td>{{ product.productName }}</td>
              <td>{{ product.manufacturer }}</td>
              <td>{{ product.style }}</td>              
              <td>{{ product.quantityOH }}</td>
              <td>{{ product.salePrice }}</td>
              <td>{{ product.discountPercentage }}</td>
              <td>{{ product.active }}</td>
              <td>
                 <button type="button"  class="btn btn-secondary"><i class='fas fa-trash-alt delete'></i>Delete</button>
              </td>
            </tr>
            <tr>
              <td *ngIf="productService.products.length" colspan="6">No User Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
